# IDE
.idea/
# Build outputs
dist/
# Terraform resource
.terraform.lock.hcl
.terraform/
*.tfstate
terraform.backend.tf.json
terraform.tf.json
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars.json
